<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://mynightout.no-ip.biz:3306/mynightout?zeroDateTimeBehavior=convertToNull</property>
    <property name="hibernate.connection.username">root</property>
    <mapping resource="mynightout/entity/Supplier.hbm.xml"/>
    <mapping resource="mynightout/entity/Cellar.hbm.xml"/>
    <mapping resource="mynightout/entity/User.hbm.xml"/>
    <mapping resource="mynightout/entity/Nightclub.hbm.xml"/>
    <mapping resource="mynightout/entity/Supply.hbm.xml"/>
    <mapping resource="mynightout/entity/Tables.hbm.xml"/>
    <mapping resource="mynightout/entity/Reservation.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
